name: Build OpenWrt liburing + samba4

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'   # Release saat push tag v1.0.0, dll

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential ccache gawk git libncurses5-dev libssl-dev \
          python3 python3-distutils rsync unzip wget zlib1g-dev

    - name: Cache OpenWrt build
      uses: actions/cache@v4
      with:
        path: openwrt/staging_dir
        key: ${{ runner.os }}-openwrt-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-openwrt-

    - name: Clone OpenWrt
      run: |
        git clone --branch v24.10.2 --depth 1 https://github.com/openwrt/openwrt.git
        cd openwrt
        ./scripts/feeds update -a
        ./scripts/feeds install -a

        # replace liburing & samba4 with sbwml version
        rm -rf feeds/packages/libs/liburing
        git clone https://github.com/sbwml/feeds_packages_libs_liburing feeds/packages/libs/liburing
        rm -rf feeds/packages/net/samba4
        git clone https://github.com/sbwml/feeds_packages_net_samba4 feeds/packages/net/samba4

    - name: Configure packages
      run: |
        cd openwrt
        # Enable liburing & samba4 in .config
        echo "CONFIG_PACKAGE_liburing=y" >> .config
        echo "CONFIG_PACKAGE_samba4-server=y" >> .config
        make defconfig

    - name: Build selected packages
      run: |
        cd openwrt
        make package/liburing/compile -j$(nproc) V=s
        make package/samba4/compile -j$(nproc) V=s

    - name: Debug package output
      run: |
        echo "=== List all .ipk files ==="
        find openwrt/bin/ -type f -name "*.ipk" -print

    - name: List compiled files
      run: |
        cd openwrt
        find bin -name "*.ipk"

    - name: List compiled files apk
      run: |
        cd openwrt
        find bin -name "*.apk"

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: openwrt-ipk
        path: |
          openwrt/bin/packages/*/*/liburing*.ipk
          openwrt/bin/packages/*/*/samba4*.ipk
        if-no-files-found: error

    - name: Upload to GitHub Release
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          openwrt/bin/packages/*/*/liburing*.ipk
          openwrt/bin/packages/*/*/samba4*.ipk
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
