name: Build samba-ipk

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout the repository
      uses: actions/checkout@v4

    - name: Set up environment
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential libncurses5-dev zlib1g-dev gawk git ccache gettext libssl-dev xsltproc wget unzip python3 zstd

    - name: Setup Environment Variables
      run: |
        export TZ=Asia/Jakarta
        echo "DATE=$(date +%Y%m%d)" >> $GITHUB_ENV

    - name: Download OpenWrt SDK
      run: |
        wget https://downloads.openwrt.org/releases/23.05.5/targets/x86/64/openwrt-sdk-23.05.5-x86-64_gcc-12.3.0_musl.Linux-x86_64.tar.xz
        tar xf openwrt-sdk-23.05.5-x86-64_gcc-12.3.0_musl.Linux-x86_64.tar.xz
        mv openwrt-sdk-23.05.5-x86-64_gcc-12.3.0_musl.Linux-x86_64 openwrt-sdk

    - name: Update and install feeds
      run: |
        cd openwrt-sdk
        ./scripts/feeds update -a
        ./scripts/feeds install -a

    - name: Override Samba & Liburing with sbwml repo
      run: |
        cd openwrt-sdk
        rm -rf feeds/packages/libs/liburing
        rm -rf feeds/packages/net/samba4
        git clone https://github.com/sbwml/feeds_packages_libs_liburing feeds/packages/libs/liburing
        git clone https://github.com/sbwml/feeds_packages_net_samba4 feeds/packages/net/samba4
        ./scripts/feeds update -i
        ./scripts/feeds install -a

    - name: Configure build
      run: |
        cd openwrt-sdk
        echo "CONFIG_ALL_NONSHARED=n" > .config
        echo "CONFIG_ALL_KMODS=n" >> .config
        echo "CONFIG_ALL=n" >> .config
        echo "CONFIG_AUTOREMOVE=n" >> .config
        echo "CONFIG_PACKAGE_samba4-server=y" >> .config
        echo "CONFIG_PACKAGE_samba4-libs=y" >> .config
        echo "CONFIG_SAMBA4_SERVER_AVAHI=y" >> .config
        echo "CONFIG_SAMBA4_SERVER_NETBIOS=y" >> .config
        echo "CONFIG_SAMBA4_SERVER_VFS=y" >> .config
        echo "CONFIG_SAMBA4_SERVER_WSDD2=y" >> .config
        make defconfig

    - name: Check Samba version
      run: |
        cd openwrt-sdk
        grep PKG_VERSION feeds/packages/net/samba4/Makefile

    - name: Compile samba
      run: |
        cd openwrt-sdk
        make package/samba4-server/compile V=s -j$(nproc)

    - name: List compiled files
      run: |
        cd openwrt-sdk
        find bin -name "*samba*.ipk"

    - name: Upload IPK package
      uses: actions/upload-artifact@v4
      with:
        name: samba4-ipk
        path: |
          openwrt-sdk/bin/packages/**/*samba*.ipk

  
