name: Build samba-ipk

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'  # This cron expression means "at 00:00 UTC every day"
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout the repository
      uses: actions/checkout@v4

    - name: Set up environment
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential libncurses5-dev zlib1g-dev gawk git ccache gettext libssl-dev xsltproc wget unzip python3 zstd

   
    - name: Setup Environment Variables
      run: |
         export TZ=Asia/Jakarta
         echo "DATE=$(date +%Y%m%d)" >> $GITHUB_ENV
          
    - name: Download OpenWrt SDK
      run: |
        wget https://downloads.openwrt.org/releases/23.05.5/targets/x86/64/openwrt-sdk-23.05.5-x86-64_gcc-12.3.0_musl.Linux-x86_64.tar.xz
        tar xf openwrt-sdk-23.05.5-x86-64_gcc-12.3.0_musl.Linux-x86_64.tar.xz
        mv openwrt-sdk-23.05.5-x86-64_gcc-12.3.0_musl.Linux-x86_64 openwrt-sdk
        
    - name: Update and install feeds
      run: |
        cd openwrt-sdk
        ./scripts/feeds update -a
        ./scripts/feeds install -a



    - name: Clone Source
      run: |
        cd openwrt-sdk/package
        git clone https://github.com/sbwml/autocore-arm autocore-arm
        rm -rf feeds/packages/libs/liburing
        git clone https://github.com/sbwml/feeds_packages_libs_liburing feeds/packages/libs/liburing
        rm -rf feeds/packages/net/samba4
        git clone https://github.com/sbwml/feeds_packages_net_samba4 feeds/packages/net/samba4

        
    - name: Configure build
      run: |
        cd openwrt-sdk
        make defconfig
        # Select the package LuCI -> Applications -> luci-app-tinyfilemanager
        echo "CONFIG_ALL_NONSHARED=n" > .config
        echo "CONFIG_ALL_KMODS=n" >> .config
        echo "CONFIG_ALL=n" >> .config
        echo "CONFIG_AUTOREMOVE=n" >> .config
        echo "CONFIG_LUCI_LANG_zh_Hans=n" >> .config
        echo "CONFIG_PACKAGE_luci-app-samba=y" >> .config
        make defconfig

    - name: Compile luci
      run: |
        cd openwrt-sdk
        make package/luci-app-samba/compile V=s -j10
      
        

    - name: List compiled files
      run: |
        cd openwrt-sdk
        find bin -name "*.ipk"

    - name: Upload IPK package
      uses: actions/upload-artifact@v4
      with:
        name: luci-theme-argon
        path: |
          openwrt-sdk/bin/packages/**/*samba*.ipk

    - name: Zip packages
      run: |
        echo -e "testing" >> release.txt

    - name: Upload packages
      uses: ncipollo/release-action@main
      with:
        token: ${{ secrets.GH_TOKEN }}
        artifacts: |
            openwrt-sdk/bin/packages/**/*samba*.ipk
        allowUpdates: true
        replacesArtifacts: true
        bodyFile: "release.txt"
        tag: x86_ipk
