name: Build OpenWrt ipk

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y build-essential ccache gcc g++ make unzip wget rsync python3

      - name: Cache toolchain
        uses: actions/cache@v4
        with:
          path: |
            openwrt/staging_dir
            openwrt/build_dir/toolchain*
            openwrt/tmp
          key: toolchain-x86-${{ github.ref }}
          restore-keys: toolchain-x86-

      - name: Clone OpenWrt
        run: |
          git clone https://github.com/openwrt/openwrt -b v24.10.2 openwrt
          cd openwrt
          ./scripts/feeds update -a
          ./scripts/feeds install -a

      - name: Replace samba4 & liburing
        run: |
          cd openwrt
          rm -rf feeds/packages/libs/liburing
          git clone https://github.com/sbwml/feeds_packages_libs_liburing feeds/packages/libs/liburing
          rm -rf feeds/packages/net/samba4
          git clone https://github.com/sbwml/feeds_packages_net_samba4 feeds/packages/net/samba4
          ./scripts/feeds update -i
          ./scripts/feeds install -a
          echo "=== Check samba4 Makefile source ==="
          grep PKG_SOURCE_URL package/feeds/packages/samba4/Makefile || true

      - name: Configure target
        run: |
          cd openwrt
          echo "CONFIG_TARGET_x86=y" > .config
          echo "CONFIG_TARGET_x86_64=y" >> .config
          echo "CONFIG_PACKAGE_liburing=y" >> .config
          echo "CONFIG_PACKAGE_samba4-server=y" >> .config
          make defconfig

      - name: Enable ccache
        run: |
          cd openwrt
          echo "CONFIG_CCACHE=y" >> .config

      - name: Build ipk
        run: |
          cd openwrt
          make package/liburing/compile V=s -j$(nproc)
          make package/samba4/compile V=s -j$(nproc)

      - name: Debug built ipk
        run: |
          echo "=== List of built .ipk files ==="
          find openwrt/bin/packages -type f -name "*.ipk" -print || true

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: openwrt-ipk
          path: |
            openwrt/bin/packages/*/packages/liburing*.ipk
            openwrt/bin/packages/*/packages/samba4*.ipk
          if-no-files-found: warn
  
      - name: Zip packages
        run: |
         echo -e "samba" >> release.txt
        
      - name: Upload packages
        uses: ncipollo/release-action@main
        with:
          token: ${{ secrets.GH_TOKEN }}
          artifacts: |
            openwrt/bin/packages/*/*/liburing*.ipk
            openwrt/bin/packages/*/*/samba4*.ipk
          allowUpdates: true
          replacesArtifacts: true
          bodyFile: "release.txt"
          tag: x86_ipk
