name: a python3-telegram-bot OpenWrt 23.05.5

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      SDK_VERSION: "23.05.5"
      TARGET: "x86/64"
      ARCH: "x86_64"
      SDK_FILE: "openwrt-sdk-23.05.5-x86-64_gcc-12.3.0_musl.Linux-x86_64.tar.xz"
      PKG_NAME: "python3-telegram-bot"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install build dependencies
        run: |
          sudo apt-get update -qq
          sudo apt-get install -y -qq \
            build-essential clang flex bison g++ gawk \
            gettext git libncurses-dev libssl-dev \
            python3 python3-setuptools python3-venv \
            rsync unzip zlib1g-dev file wget curl aria2

      - name: Download OpenWrt SDK (FAST with mirror)
        run: |
          set -e
          echo "Downloading SDK using aria2 + mirrors"

          aria2c -x16 -s16 -k1M \
            https://downloads.openwrt.org/releases/${SDK_VERSION}/targets/${TARGET}/${SDK_FILE} \
            https://openwrt.c3sl.ufpr.br/releases/${SDK_VERSION}/targets/${TARGET}/${SDK_FILE} \
            https://mirror.hoster.kz/openwrt/releases/${SDK_VERSION}/targets/${TARGET}/${SDK_FILE} \
            https://mirror-03.infra.openwrt.org/releases/${SDK_VERSION}/targets/${TARGET}/${SDK_FILE}

          tar -xf ${SDK_FILE}
          mv openwrt-sdk-* openwrt-sdk

      - name: Copy custom package into SDK
        run: |
          cp -r package/* openwrt-sdk/package/

      - name: Update & install feeds
        working-directory: openwrt-sdk
        run: |
          ./scripts/feeds update -a
          ./scripts/feeds install -a

      - name: Build python3-telegram-bot package
        working-directory: openwrt-sdk
        run: |
          make defconfig
          make package/${PKG_NAME}/clean
          make package/${PKG_NAME}/compile V=s

      - name: Upload IPK artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${PKG_NAME}-openwrt-${SDK_VERSION}-${ARCH}
          path: openwrt-sdk/bin/packages/**/*.ipk
